# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Django
db.sqlite3
media/
staticfiles/
local_settings.py

# Environment variables
.env
.venv
env/
venv/

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# SSLCommerz keys (if stored separately)
sslcommerz_config.py

# Node (if frontend used)
node_modules/

# Migrations cache
*/migrations/__pycache__/
