{% extends 'products/base.html' %}
{% block content %}

<div class="container mt-4">
    <div class="row">
        <div class="col-md-6">
            <img src="{{ product.image.url }}" class="img-fluid" alt="{{ product.name }}">
        </div>
        <div class="col-md-6">
            <h2>{{ product.name }}</h2>
            <p>{{ product.description }}</p>

            <p>
                <span class="text-muted text-decoration-line-through">৳{{ product.old_price }}</span>
                <span class="fw-bold text-danger">৳{{ product.new_price }}</span>
            </p>

            {% if product.is_new_arrival %}
                <span class="badge bg-success">New Arrival</span>
            {% endif %}

            <form method="POST" action="{% url 'add_to_cart' product.id %}">
                {% csrf_token %}
                <div class="mb-3">
                    <label>Quantity:</label>
                    <input type="number" name="quantity" value="1" min="1" max="{{ product.stock }}" class="form-control" style="width:100px;">
                </div>
                    {% if product.stock > 0 %}
                    <button>Add to Cart</button>
                    {% else %}
                    <span class="text-danger">Out of Stock</span>
                    {% endif %}

            </form>
        </div>
    </div>
</div>

{% endblock %}
